/*
 * STREAM
 *
 * Author: mrmrs
 * License: MIT
 *
 *                */


a {
  background-color: red;
  transition: background-color .5s ease-in;
}

p {
  line-height: 1.618;
}

div { outline: 1px solid black; }
