/*

   BORDER RADIUS

*/

  .rounded {         border-radius: .125rem; }
  .rounded-2 {        border-radius: .25rem; }
  .circle {    border-radius: 9999px; }

@include break(not-small) {
  .rounded-ns {      border-radius: .125rem; }
  .rounded-2-ns {     border-radius: .25rem; }
  .circle-ns { border-radius: 9999px; }
}

@include break(medium) {
  .rounded-m {      border-radius: .125rem; }
  .rounded-2-m {     border-radius: .25rem; }
  .circle-m { border-radius: 9999px; }
}

@include break(large) {
  .rounded-l {      border-radius: .125rem; }
  .rounded-2-l {     border-radius: .25rem; }
  .circle-l { border-radius: 9999px; }
}

