/*

   BORDER BASE

   Legend

   a = all
   t = top
   b = bottom

*/

  .ba { border-style: solid; border-width: 1px; }
  .bt { border-top-style: solid; border-top-width: 1px; }
  .bb { border-bottom-style: solid; border-bottom-width: 1px; }

@include break(not-small) {
  .ba-ns { border-style: solid; border-width: 1px; }
  .bt-ns { border-top-style: solid; border-top-width: 1px; }
  .bb-ns { border-bottom-style: solid; border-bottom-width: 1px; }
}

@include break(medium) {
  .ba-m { border-style: solid; border-width: 1px; }
  .bt-m { border-top-style: solid; border-top-width: 1px; }
  .bb-m { border-bottom-style: solid; border-bottom-width: 1px; }
}

@include break(large) {
  .ba-l { border-style: solid; border-width: 1px; }
  .bt-l { border-top-style: solid; border-top-width: 1px; }
  .bb-l { border-bottom-style: solid; border-bottom-width: 1px; }
}

