/*

   TEXT TRANSFORM

*/

.ttc { text-transform: capitalize; }
.title { text-transform: uppercase; letter-spacing: .2em; }

@include break(not-small) {
  .ttc-ns { text-transform: capitalize; }
  .title-ns { text-transform: uppercase; letter-spacing: .2em; }
}

@include break(medium) {
  .ttc-m { text-transform: capitalize; }
  .title-m { text-transform: uppercase; letter-spacing: .2em; }
}

@include break(large) {
  .ttc-l { text-transform: capitalize; }
  .title-l { text-transform: uppercase; letter-spacing: .2em; }
}

