/*

   WHITE SPACE

*/


.ws-nowrap  { white-space: nowrap; }
.ws-pre     { white-space: pre; }

@include break(not-small) {
  .ws-nowrap-ns  { white-space: nowrap; }
  .ws-pre-ns     { white-space: pre; }
}

@include break(medium) {
  .ws-nowrap-m  { white-space: nowrap; }
  .ws-pre-m     { white-space: pre; }
}

@include break(large) {
  .ws-nowrap-l  { white-space: nowrap; }
  .ws-pre-l     { white-space: pre; }
}

